.inner{
}

.row{
	display: flex;
	margin-top: 10px;
	height: 40px;
	align-items: center;
}

.field1{
	width: 125px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(92,51,92);
	font-weight: bolder;
}

.field2{
	flex: 1;
	height: 100%;
}

.field3{
	width: 125px;
	height: 100%;
}

.field2 input{
	width: 100%;
	height: 100%;
	text-align: center;
	border: 4px solid rgb(163,204,163);
	border-radius: 5px;
	color: rgb(92,51,92);
	font-weight: bolder;
}

input::placeholder{
	font-size : 0.9em;
	color: rgb(163,204,163);
}

.field2 input:hover{
	border: 4px solid rgb(92,51,92);
}
.field3 input:hover{
	border: 4px solid rgb(92,51,92);
	color: rgb(92,51,92);
	background-color: #fff;
}

.field3 input{
	width: 80%;
	margin-left: 20%;
	height: 100%;
	text-align: center;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: bolder;
	background-color: rgb(92,51,92);
}

.row.phone .field2{
	display: flex;
}

.row.phone .field2 {
}
.row.phone .field2 .telinit {
	flex: 2;
	border: 4px solid rgb(92,51,92);
	border-radius: 5px;
	text-align: center;
	color: 4px solid rgb(92,51,92);
	font-weight: bolder;
}
.row.phone .field2 .telmiddle {
	flex: 3;
	margin: 0px 5px;
}
.row.phone .field2 .tellast {
	flex: 3;
}

.btn-send.join-btn{
	margin-top: 20px;
	font-size: 1.3em;
	text-align: center;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: bolder;
	background-color: rgb(92,51,92);
	padding: 5px 50px;
	border: 4px solid rgb(92,51,92);
}

.btn-send.join-btn:hover{
	border: 4px solid rgb(92,51,92);
	color: rgb(92,51,92);
	background-color: #fff;
}

.rowtip{
	text-align: left;
	margin-left: 130px;
	font-size: 0.7em;
	color: grey;
}

